<?xml version="1.0"?>
<config>
    <modules>
        <Pagofacil_Pagofacildirect>
            <version>2.0.0</version>
        </Pagofacil_Pagofacildirect>
    </modules>  
  
    <global>        
        <models>
            <pagofacildirect>
                <class>Pagofacil_Pagofacildirect_Model</class>
            </pagofacildirect>
        </models>        
        <helpers>
            <pagofacildirect>
                <class>Pagofacil_Pagofacildirect_Helper</class>
            </pagofacildirect>
        </helpers>                        
        <blocks>
            <pagofacildirect>
                <class>Pagofacil_Pagofacildirect_Block</class>
            </pagofacildirect>
        </blocks>                
        <payment>
            <groups>
                <pagofacildirect>pagofacil</pagofacildirect>
            </groups>
        </payment>
        <events>
            <sales_order_place_after>
                <observers>
                    <pagofacildirect>
                        <type>singleton</type>
                        <class>pagofacildirect/observer</class>
                        <method>orderPlaceAfter</method>
                    </pagofacildirect>
                </observers>
            </sales_order_place_after>
        </events>        
    </global>
    
    <frontend>        
        <routers>
            <pagofacildirect>
                <use>standard</use>
                <args>
                    <module>Pagofacil_Pagofacildirect</module>
                    <frontName>pagofacildirect</frontName>
                </args>
            </pagofacildirect>
            <compropago>
                <use>cashCP</use>
                <args>
                    <module>Pagofacil_Pagofacildirect</module>
                    <frontName>pagofacildirect</frontName>
                </args>
            </compropago>
        </routers>        
        <layout>
            <updates>
              <pagofacildirect>
                    <file>pagofacildirect.xml</file>
                </pagofacildirect>
                <compropago>
                    <file>pagofacildirect.xml</file>
                </compropago>
            </updates>
        </layout>
    </frontend>
    
    <default>
       <payment>        
        <pagofacildirect>
             <model>pagofacildirect/standard</model>
             <group>pagofacil</group>
             <payment_action>sale</payment_action>
             <allowspecific>0</allowspecific>
             <active>1</active>
             <title><![CDATA[PagoFácil]]></title>
             <status>processing</status>
             <prod>1</prod>
             <notify>1</notify>
             <divisa>0</divisa>
             <msi>0</msi>
             <logo>1</logo>
        </pagofacildirect>  
        <compropago>
            <active>1</active>
            <prod>1</prod>
            <payment_action>sale</payment_action>            
            <allowspecific>0</allowspecific>
            <model>pagofacildirect/cashCP</model>
            <title><![CDATA[PagoFácil]]> - Efectivo</title>
            <order_status_new>pending</order_status_new>
            <order_status_approved>processing</order_status_approved>
            <order_status_refunded>refunded</order_status_refunded>
            <order_status_in_process>pending</order_status_in_process>
            <order_status_cancelled>cancelled</order_status_cancelled>
            <installments></installments>
            <auto_create_inovice>0</auto_create_inovice>
        </compropago>        
       </payment>
     </default>
          
</config>